.login-form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}
.responsive-container {
  width: 90%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  padding-bottom: 20px;
  width: 85%;
  max-width: 500px;
  background-color: #272727;
  border-radius: 10px;
}
.logo-container {
  text-align: center;
  margin-bottom: 50px;
}
.website-logo {
  width: 180px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-label {
  color: #f8fafc;
  margin: 10px 0px;
  font-family: 'Roboto';
  font-size: 12px;
}
.input-field {
  padding: 10px;
  background-color: #272727;
  outline: none;
  border: 1px solid #64748b;
  color: #64748b;
  border-radius: 5px;
  margin-bottom: 15px;
}
.login-btn {
  background-color: #4f46e5;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: #f8fafc;
  font-size: 16px;
  margin-top: 14px;
  cursor: pointer;
}
.error-msg {
  color: #ff0b37;
  margin: 0px;
  padding: 0px;
}
.credential {
  color: #b6c5ff;
  font-weight: 200;
  font-size: 12px;
}
